/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
}

/* Barra de navegación */
.navbar {
    background-color: #000000;
    
    top: 0;
    width: 100%;
    padding: 20px 20px;
    z-index: 1000;
}

.navbar-content {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Animación de la imagen al pasar el cursor */
.logo:hover img {
    transform: scale(1.1);
    filter: brightness(1.5);
}

/* Menú de navegación */
.nav-menu {
    list-style: none;
    display: flex;
    margin-left: 20px;
}

.nav-menu li {
    margin-right: 30px;
}

.nav-menu a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Moderustic', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px; /* Ajustar altura de línea para centrar verticalmente */
    transition: color 0.3s ease;
}

/* Animación de los enlaces del menú al pasar el cursor */
.nav-menu a:hover {
    color: #90DBF4;
}

/* Contenido principal */
.home-content {
    text-align: center;
    margin-top: 150px;
    padding: 0 20px;
}

.home-content h1 {
    font-family: 'Moderustic', serif;
    font-weight: 700;
    font-size: 48px;
    color: #90DBF4;
    margin-bottom: 20px;
}

.divider {
    width: 60%;
    margin: 0 auto 20px auto;
    border: none;
    border-top: 2px solid #C8EDFA;
}

.home-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 26px;
    color: #000000;
}

/* Sección del video */
.video-section {
    margin: 40px auto;
    width: 100%;
    max-width: 1920px;
    text-align: center;
}

.video-section .video-title {
    font-family: 'Moderustic', serif;
    font-weight: 700;
    font-size: 32px;
    color: #90DBF4;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

/* Animación del título al pasar el cursor */
.video-section .video-title:hover {
    color: #F1C0E8;
}

.video-section video {
    width: 100%;
    height: auto;
}

/* Estilos para los rectángulos debajo de la barra de navegación */
.rectangulo {
    width: 100%;
    height: 20px; /* Ajustar el grosor vertical según tus necesidades */
}

.rectangulo1 {
    background-color: #90DBF4;
}

.rectangulo2 {
    background-color: #C8EDFA;
}

/* Estilos para el pie de página */
.footer {
    background-color: #90DBF4;
    padding: 20px 20px;
    position: relative;
    z-index: 1000;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Animación de la imagen del pie de página al pasar el cursor */
.footer-logo:hover {
    transform: scale(1.1);
    filter: brightness(1.5);
}

.footer p {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* Montserrat Light */
    font-style: italic;
    margin: 0;
}

/* Estilos sección de contenido fotos */
.additional-content {
    margin: 40px auto;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.image-title {
    font-family: 'Moderustic', serif;
    font-weight: 700;
    font-size: 32px;
    color: #90DBF4;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.image-title:hover {
    color: #F1C0E8;
}

/* Contenedor de la imagen con animación */
.photo-container {
    width: 100%;
    text-align: center;
}

.animated-photo {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.animated-photo:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

/* contenido de about */
.about-content {
    text-align: center;
    margin-top: 150px;
    padding: 0 20px;
}

.about-content h1 {
    font-family: 'Moderustic', serif;
    font-weight: 700;
    font-size: 48px;
    color: #90DBF4;
    margin-bottom: 20px;
}

.divider {
    width: 60%;
    margin: 0 auto 20px auto;
    border: none;
    border-top: 2px solid #C8EDFA;
}

.about-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 26px;
    color: #000000;
    text-align: left;
}
/* Estilos para el pie de página about */
.footer {
    background-color: #90DBF4;
    padding: 20px 20px;
    position: relative;
    z-index: 1000;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.footer-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Animación de la imagen del pie de página al pasar el cursor */
.footer-logo:hover {
    transform: scale(1.1);
    filter: brightness(1.5);
}

.footer p {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* Montserrat Light */
    font-style: italic;
    margin: 0;

    /* contenido de portfolio */
.portfolio-content {
    text-align: center;
    margin-top: 150px;
    padding: 0 20px;
}

.portfolio-content h1 {
    font-family: 'Moderustic', serif;
    font-weight: 700;
    font-size: 48px;
    color: #90DBF4;
    margin-bottom: 20px;
}

.divider {
    width: 60%;
    margin: 0 auto 20px auto;
    border: none;
    border-top: 2px solid #C8EDFA;
}

.portfolio-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 26px;
    color: #000000;
    text-align: left;
}
/* Estilos para el pie de página about */
.footer {
    background-color: #90DBF4;
    padding: 20px 20px;
    position: relative;
    z-index: 1000;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.footer-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Animación de la imagen del pie de página al pasar el cursor */
.footer-logo:hover {
    transform: scale(1.1);
    filter: brightness(1.5);
}

.footer p {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* Montserrat Light */
    font-style: italic;
    margin: 0;
}

/* Estilos para la imagen con efecto hover */
.image-container {
    text-align: center;
    margin: 30px 0;
}

.hover-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.hover-image:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.about-content h1 {
    font-size: 20px; /* Tamaño del texto */
    color: #000000;  /* Color inicial del texto */
    transition: color 0.3s ease; /* Suaviza la transición del color */
}

h1:hover {
    color: #F1C0E8;  /* Color al pasar el cursor por encima */
}

/* Línea centrada debajo de los títulos */
.divider {
    width: 60%;
    margin: 10px auto; /* Coloca la línea justo debajo del título */
    border: none;
    border-top: 2px solid #C8EDFA;
}

/* Animación de la imagen */
.additional-content img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.additional-content img:hover {
    transform: scale(1.05); /* Escala la imagen ligeramente */
    filter: brightness(1.1); /* Aumenta el brillo */
}